.about-us-head {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-img {
  width: fit-content;
  object-fit: scale-down;
}

.about-us-head-name {
  line-height: 60px;
  letter-spacing: -1.5%;
  position: absolute;
  top: 40rem;
  font-size: 48px;
  color: rgb(255, 255, 255);
  padding-left: 9%;
}

.about-us-head-name1 {
  position: absolute;
  letter-spacing: 1.5%;
  font-weight: 300;
  top: 48rem;
  font-size: 30px;
  color: white;
  padding-left: 9%;
}

.img-info {
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 41px;
  font-weight: 400;
  line-height: 4rem;
  color: #f1faff;
  letter-spacing: -1.5%;
  line-height: 54.5px;
  /* background-color: bisque; */
  /* word-spacing: 10px; */
}

#img-info-span {
  /* padding-top: 3% !important; */
  font-size: 42px !important;
  line-height: 54px !important;
  letter-spacing: 1.5% !important;
}

.svnt-info {
  line-height: 50px;
  font-weight: 500;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 28px;
  padding: 8rem;
}

.ceo {
  display: flex;
  margin-bottom: -3rem;
  align-items: center;
  text-align: center;
  padding-left: 8rem;
  padding-right: 8rem;
}

.ceo-text {
  color: #251741;
  font-weight: 500;
  text-align: -webkit-center;
}

.ceo-text-p {
  color: #514567;
  font-size: 22px;
}

.managers {
  background: linear-gradient(to right, #e2e4f4, #cdd4fd);
  margin-top: 0% !important;
  margin: 5%;
  border-radius: 100px;
  padding-top: 5rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.manager-1 {
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.manager-menu {
  padding: 1rem;
}

.manager-line {
  gap: 20px;
}
.image-1 {
  transition: ease-in-out 0.5s;
}
.image-1:hover {
  scale: 1.1;
  transition: ease-in-out 0.5s;
}

.company-timeline {
  margin-top: 0% !important;
  margin: 5%;
  border-radius: 100px;
  position: relative;
  background-image: url(../images/AboutUs/company-timelinebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.timeline-1 {
  font-size: 22px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.divider {
  position: absolute;
  top: 50%;
  left: 11%;
  width: 77vw;
}

.circle {
  height: 60px;
  width: 60px;
}

.line {
  width: 20vw;
}
.about-img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.about-clients {
  border-radius: 80px;
  margin: 5rem;
  margin-right: 6rem;
  margin-left: 6rem;
  padding: 5rem;
  /* background-color: #e3dbfb; */
}
.client-container {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.about-client-type {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  padding-right: 3rem;
}

.about-client-type p {
  margin: 0;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 5px;
  
  transition: background-color 0.3s ease;
}

.about-client-type p.active{
  color: white;
  background-color: #251741;
}

.slider-container {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .about-us-head-name {
    top: 14rem !important;
    font-size: 28px !important;
    line-height: 40px !important;
  }
  .about-us-head-name1 {
    top: 20rem !important;
  }
  .manager-line {
    flex-wrap: wrap;
  }
  .manager-1 {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .image-1 {
    width: 14rem;
  }
  .svnt-info {
    font-size: 20px !important;
  }

  .ceo {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .ceo-photo {
    width: 100% !important;
  }
  .ceo-photo-1 {
    width: 100% !important;
  }
  .ceo-text-head {
    font-size: 28px !important;
  }
  .ceo-text-p {
    font-size: 16px !important;
  }
  .slider {
    width: 100%;
  }
  .ceo-text-head {
    font-size: 30px !important;
  }
}

@media (max-width: 1024px) {
  .about-us-head-name {
    top: 19rem;
    font-size: 32px;
    line-height: 50px;
  }
  .about-us-head-name1 {
    font-size: 20px;
    top: 26rem;
  }
  .svnt-info {
    padding: 3rem;
    font-size: 24px;
  }
  .ceo {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .ceo-photo {
    width: 55%;
  }
  .managers {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .ceo-text-head {
    font-size: 38px;
  }
  .ceo-text-p {
    font-size: 22px;
  }
  .slider {
    width: 100% !important;
  }
  .image-1 {
    width: 10rem;
  }
}

.manager-name {
  font-size: 22px;
}

@media (max-width: 425px) {
  .img-info {
    display: none;
  }
  .svnt-info {
    padding: 2rem;
    font-size: 18px !important;
    line-height: 34px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .svnt-info h1 {
    padding-bottom: 0 !important;
  }
  .timeline-carousel {
    display: none !important;
  }
  .ceo {
    margin-bottom: 10px !important;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  /* .ceo-photo{
    float: right !important;
  } */
  .managers {
    border-radius: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 2rem;
  }
  .manager-1 {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin: 0 !important;
  }
  .managers h1 {
    text-align: center;
  }
  .about-clients {
    padding: 0 !important;
    margin: 2rem !important;
  }
  /* .slick-slide img {
    height: 100px !important;
  } */
  .ceo-text {
    padding-right: 2rem;
    max-width: 100%;
    padding-left: 2rem;
    text-align: left !important;
  }

  .client-slider-img {
    height: 100px;
  }
  .ceo-text-head {
    font-size: 24px !important;
  }
  .ceo-text p {
    width: 100% !important;
  }
  .about-bg {
    padding: 1rem;
  }
}
