.top {
  background-color: #251741;
  padding: 1.5rem;
  padding-left: 5rem;
}

.parent-container {
  height: 70vh;
  display: grid;
  place-items: center;
}

.portal-login,
.portal-register {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5rem;
  background-color: #f1faff;
}

.reg {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
