.admin-cont{
    display: grid;
    grid-template-columns: 20% 80%;
    /* background-color: antiquewhite; */
    gap: 1%;
    padding: 3% 3%;
    height: 80vh;

}

.admin-head{
    padding: 2% 0% 0% 3%;
    text-transform: uppercase;
}

.admin-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-left p{
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
}

.vacancy-form{
 
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #E9E8EC;

}
.vacancy-form p{
    padding: 3% 3% 3%;
    font-size: 24px;
    word-spacing: 10px;
    color: white;
    background-color: #6D6480;
    border-radius: 5px;
}

.vacancy-form-div1{
    display: flex;
    width: 80%;
    margin-left: 5%;
    margin-top: 3%;
}

.vacancy-form .sub-part{
    width: 100%;
}
.vacancy-form  div img{
    height: 10%;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 18px;
    cursor: pointer;
 
}

 
.vacancy-form div div div {
    padding-left: 3%;
    padding-top: 2%;
    display: flex;
    /* border: 2px solid pink; */
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    
    
}

.vacancy-form div input, select, textarea{
    margin-left: 20px;
    width: 60%;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    padding: 1% 1%;
    margin-right: 3%;
    background: #F1FAFF;

}

.vacancy-form button{
    width: 20%;
    margin-left: 63%;
    margin-top: 2%;
    padding: 1% 0% 1%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    
}

.vacancy-form button:hover{
    background-color: red;
    color: white;
    border-color: red;

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    cursor: pointer;
}


.table{
    /* background-color: antiquewhite; */
    padding-right: 3%;
}

.admin-super{
    margin-bottom: 5%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    border-radius: 20px;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table th {
    padding: 3% 3% 3%;
    font-size: 24px;
    color: white;
    background-color: #6D6480;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tr:hover {
    background-color: #ddd;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e53935;
}

.delete-button:focus {
    outline: none;
}
