.top {
  background-color: #251741;
  padding: 1.5rem;
  padding-left: 5rem;
}

.parent-container {
  height: fit-content;
  display: grid;
  place-items: center;
}

.portal-login,
.portal-register {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 
  background-color: #FFFFFF;
  margin-top: 5vh;
}

.portal-login form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  padding: 4rem;
  padding-bottom: 2rem;
}
.portal-login form button{
  padding: 3% 8%;
  border-radius: 10px;
  background-image: linear-gradient(to right, #251741, #5023AA);
  color: white;
  font-weight:400;
  border: none;
}

 .login-input{
  border:2px solid #9B94A8;
  background-color: #F1FAFF;
  border-radius: 8px;
  width:100%;
  display: flex;
  justify-content: space-between;
 }

 .login-input img{
   margin: 0 10px;
  width: 10%;
  
 }

 .login-input input{
  border-right:2px solid #9B94A8;
  padding: 10px 20px;
  width: 100%;
  background-color: #F1FAFF;
 }

.reg {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.login-footer{
  background: #E9E8EC;
  width: 100%;
}

.login-footer p{
  width: 100%;
  padding: 6px 30px;
  font-size: 12px;
  color: #49219A;
  cursor: pointer;
}