.card{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 12vw !important;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.2s;
    border-radius: 20px;
    /* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:after, .card:before{
    transform: translateX(slide)
}
.card{
    --bs-card-border-color: none;
}
.card.current{
    width:70vw !important;
}

.carousellll{
    height: 100%;
    width: fit-content;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.2s;
}


.container10{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.left-button{
    background-image: url('../images/arorwleft.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.5px solid white;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    /* opacity: 0.7; */
    top:50%;
    left:5%;
    transform: translate(-50%,-50%);
    transition: background-color 0.5s ease-in, opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
}
.left-button:hover, .right-button:hover{
    background-color: black;
    filter: invert(1);  
    cursor: pointer;
}


.right-button{
    /* opacity: 0.7; */
    background-image: url('../images/arorwright.svg');
    border: 0.5px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    top:50%;
    right:5%;
    transform: translate(-50%,-50%);
    transition: background-color 0.5s ease-in, opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
}
.outer{
    padding-top: 10rem;
    padding: 3rem;
    width: 100vw;
    height: 100vh;
}

.cc{
    width: 100%;
    height: 74vh;
    object-fit: cover;
}

.cp{
    /* background-image: url('../images/madeleine-ragsdale-j0i8M-2aTPE-unsplash\ 1.png'); */
}