.location {
  padding-bottom: 1rem;
  background-color: #cdd4fd;
  margin: 5rem;
  border-radius: 80px;
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: center;
}
.location-name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
}
.offices {
  letter-spacing: 0.1px;
  border-radius: 20px;

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.offices1 {
  letter-spacing: 0.1px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  gap: 45px;
  /* flex-wrap: wrap; */
  margin-bottom: 50px;
}
.card-title {
  font-weight: 600;
  margin-bottom: 20px;
}
.card-subtitle {
  margin-bottom: 20px !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  color: rgb(53, 53, 53);
}
.footer-email {
  justify-content: start;
}
.footer {
  letter-spacing: 0px;
  padding-top: 50px;
  color: white;
  background: #251741;
}
.bottom-bar {
  padding-top: 20px;
}

.career-text1 {
  width: 40%;
  /* text-shadow: 2px 2px 5px black; */
  text-align: start;
  position: relative;
  color: white;
  font-size: 38px;
  bottom: 25rem;
  left: 5%;
  font-weight: 600;
}
.career-text2 {
  /* text-shadow: 2px 2px 5px white; */
  font-size: 24px;
  position: absolute;
  font-weight: 600;
  color: white;
  top: 40rem;
  left: 5%;
  font-weight: 300;
}
.explore {
  border-bottom: 2px solid white;
  position: absolute;
  color: white;
  top: 55%;
  left: 5%;
  font-size: 19px;
}
.explore::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.explore::after {
  float: right;
  content: "";
  filter: invert();
  width: 30px; /* Adjust the width of the SVG */
  height: 20px; /* Adjust the height of the SVG */
  background: url("../images/Vector.svg") no-repeat;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* Transition opacity and transform over 0.5 seconds */
  transform: translateX(-10px); /* Initially move the arrow to the left */
}

.explore:hover::after {
  color: white;
  margin-left: 20px;
  filter: invert();
  opacity: 1; /* Fade in the SVG on hover */
  transform: translateX(0); /* Move the arrow back to its original position */
}
.explorebtn {
  color: white;
  border-radius: 40px;
  padding: 10px;
  position: absolute;
  top: 78%;
  left: 7%;
  border: 2px solid white;
}
.domain {
  text-align: center;
}
.domain-head,
.domain-text {
  letter-spacing: 0.1px;
}

.invite {
  justify-content: center;
  margin-right: 30px;
  margin-left: 55px;
  padding: 100px;
}
.location-card {
  position: relative;
  width: 482px;
  height: 225px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front,
.back {
  background-color: #f1faff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.back {
  transform: translateY(100%);
}

.location-card.hovered .front {
  transform: translateY(-100%);
}

.location-card.hovered .back {
  transform: translateY(0);
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 60px;
  justify-content: space-around;
}

.copy-notification {
  color: white !important;
  text-align: center;
  transition: color 0.3s;
}
.location-cardtitle {
  letter-spacing: 5%;
  font-size: 42px;
  padding-bottom: 10px;
}
.location-cardaddress {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5%;
  line-height: 30px;
}
.location-card:hover .copy-notification {
  color: #fff;
}
.location-card:nth-child(1) {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.location-card:nth-child(2) {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.location-card:nth-child(3) {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
}

.career-img {
  width: 100%;
  height: 100%;
}
.recruitment-h {
  text-align: start;
  padding-left: 18rem;
}
.phn {
  color: #e9e8ec !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 100px;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(233, 232, 236, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.jobs {
  position: relative;
}
.overlay-text {
  font-weight: 500;
  color: #251741;
  font-size: 54px;
}
@media (max-width: 768px) {
  .jobs {
    flex-wrap: wrap;
    gap: 40px !important;
  }
  .job-des {
    margin-left: 5rem;
    width: 80% !important;
  }
  .dropdown {
    width: 80%;
    height: 0px;
  }
  .invite {
    flex-wrap: wrap;
  }
  .career-text1 {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .jobs {
    gap: 50px;
    margin-left: 0px;
  }
  .recruitment-h {
    padding-left: 6rem;
  }
  .dropdown {
    margin-left: 5rem;
  }
  .job-des {
    width: 60%;
  }
  .invite {
    gap: 2rem;
  }
  .career-text1 {
    font-size: 28px;
    width: 50%;
    bottom: 11rem;
  }
  .recruit-handle {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  ul.dropdown-menu.show {
    opacity: 1;
  }
  .bottom-bar {
    gap: 8rem !important;
  }
  .recruitment {
    padding-top: 0;
  }
}

.bottom-bar {
  font-size: 12px;
  gap: 34rem;
}
@media (min-width: 1440px) {
  .recruitment {
    padding-top: 5rem;
  }
  .jobs {
    margin-top: 4rem;
    gap: 50px;
    margin-left: 0px;
  }
  .recruitment-h {
    padding-left: 10rem;
  }
  .dropdown {
    margin-left: 16rem;
  }
  .job-des {
    width: 35%;
  }
}

.row {
  width: 100%;
}

@media (max-width: 480px) {
  .invite {
    padding: 1rem !important;
    margin-left: 40px !important;
    margin-top: 2rem;
    gap: 10px;
  }
  .career-text2, .career-text1{
    display: none;
  }
  .jobs{
    margin-left: 0;
  }
  .recruitment-h{
    padding-left: 2rem;
  }
  .dropdown{
    margin-left: 2rem;
  }
  .job-des{
    margin-left: 2rem;
    width: 85% !important;
  }
  .career-img{
    margin-top: 6rem;
  }
}
