.carousel1 {
  position: relative;
  /* background-image: url('../images/cbg.png'); */
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  color: #f1faff;
  text-align: start !important;
  bottom: 18rem;
  right: 20% !important;
  left: 14% !important;
  font-size: 42px;
}

.carousel-indicators {
  align-items: center;
  width: 46rem;
  height: 4rem;
  border-radius: 50px;
  gap: 30px;
  opacity: 1 !important;
  right: 74rem !important;
  bottom: 2rem !important;
  margin-right: 0% !important;
  margin-left: 28% !important;
}

.carousel-indicators .active {
  background-color: #5b09ff !important;
}
/* 
.carousel-item.active {
  margin-left: 2% !important;
  margin-right: 2% !important;
} */

/*new carousel code using span  */
html,
body {
  /* max-width: 100%; */
  overflow-x: hidden;

  /* background-color:#F1FAFF; */
}

.trusted {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trustedtext {
  /* background-color: #0b3c1c; */
  width: 90%;
  height: 50%;
  margin: 0 !important;
  padding-right: 5%;
  /* padding-top: 5%; */
}

.trustedtext p {
  line-height: 50px;
  letter-spacing: 3px;
  padding-top: 8rem;
}

#slideshow {
  height: 50%;
  width: 60%;
  padding-left: 20%;
  margin-left: 0;
  background-color: #ffffff;

  /* box-sizing: border-box; */
}

.entire-content {
  background-color: #0b3c1c;
  margin: auto;
  width: 160px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(-7deg);
  /* transform: perspective(1000px) rotateX(-10deg); */
  /* transform: rotateZ(-0deg) rotateY(-10deg); */
  /* transform-origin: center center 400px; */
  /* padding-top: 80px; */
}

.content-carrousel {
  margin-top: -3rem;
  width: 80%;
  /* background-color: #0e5054; */
  position: absolute;
  float: right;
  animation: rotar 40s infinite linear;
  transform-style: preserve-3d;
  /* transform: rotateX(120deg); */
  /* transform: perspective(1000px) rotateY(60deg); */
  /* transform-origin: center center 40px; */
  /* perspective: 1000px; Add perspective */
  /* transform: rotateX(-50deg); Tilt from the top */
  /* transform: rotateY(0deg) rotateX(5deg); */
}

/* .content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
} */

.content-carrousel figure {
  width: 100%;
  height: 120px;
  /* background-color: #17bb17; */
  text-align: center;
  box-shadow: none !important;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(450px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(20deg) translateZ(450px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(40deg) translateZ(450px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(60deg) translateZ(450px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(80deg) translateZ(450px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(100deg) translateZ(450px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(120deg) translateZ(450px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(140deg) translateZ(450px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(160deg) translateZ(450px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(180deg) translateZ(450px);
}
.content-carrousel figure:nth-child(11) {
  transform: rotateY(200deg) translateZ(450px);
}
.content-carrousel figure:nth-child(12) {
  transform: rotateY(220deg) translateZ(450px);
}
.content-carrousel figure:nth-child(13) {
  transform: rotateY(240deg) translateZ(450px);
}
.content-carrousel figure:nth-child(14) {
  transform: rotateY(260deg) translateZ(450px);
}
.content-carrousel figure:nth-child(15) {
  transform: rotateY(280deg) translateZ(450px);
}
.content-carrousel figure:nth-child(16) {
  transform: rotateY(300deg) translateZ(450px);
}
.content-carrousel figure:nth-child(17) {
  transform: rotateY(320deg) translateZ(450px);
}
.content-carrousel figure:nth-child(18) {
  transform: rotateY(340deg) translateZ(450px);
}

/* .content-carrousel figure:nth-child(1) {
  transform: rotateX(0deg) translateZ(450px); 
} .content-carrousel figure:nth-child(2) {
  transform: rotateX(20deg) translateZ(450px); 
} .content-carrousel figure:nth-child(3) {
  transform: rotateX(40deg) translateZ(450px); 
} .content-carrousel figure:nth-child(4) {
  transform: rotateX(60deg) translateZ(450px); 
} .content-carrousel figure:nth-child(5) {
  transform: rotateX(80deg) translateZ(450px); 
} .content-carrousel figure:nth-child(6) {
  transform: rotateX(100deg) translateZ(450px); 
} .content-carrousel figure:nth-child(7) {
  transform: rotateX(120deg) translateZ(450px); 
} .content-carrousel figure:nth-child(8) {
  transform: rotateX(140deg) translateZ(450px); 
} .content-carrousel figure:nth-child(9) {
  transform: rotateX(160deg) translateZ(450px); 
} .content-carrousel figure:nth-child(10) {
  transform: rotateX(180deg) translateZ(450px); 
} .content-carrousel figure:nth-child(11) {
  transform: rotateX(200deg) translateZ(450px); 
} .content-carrousel figure:nth-child(12) {
  transform: rotateX(220deg) translateZ(450px); 
} .content-carrousel figure:nth-child(13) {
  transform: rotateX(240deg) translateZ(450px); 
} .content-carrousel figure:nth-child(14) {
  transform: rotateX(260deg) translateZ(450px); 
} .content-carrousel figure:nth-child(15) {
  transform: rotateX(280deg) translateZ(450px); 
} .content-carrousel figure:nth-child(16) {
  transform: rotateX(300deg) translateZ(450px); 
} .content-carrousel figure:nth-child(17) {
  transform: rotateX(320deg) translateZ(450px); 
} .content-carrousel figure:nth-child(18) {
  transform: rotateY(340deg) translateZ(450px); 
}  */

.shadow {
  position: absolute;
  /* box-shadow: 0px 0px 20px 0px #000; */
  /* border-radius: 1px; */
  /* background-color: #0b3c1c; */
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: fit-content;
  height: 100%;
}

/* .content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
} */

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*  */

.cont {
  text-align: center;
  color: white;
  position: relative;
  width: 0%;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  top: -200px;
  /* overflow: hidden; */
  background-color: aqua;
  background-position: center;
}

.caro {
  background-color: rgb(69, 129, 109);
  top: 100px;
  position: absolute;
  width: 200%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  background-position: center;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  background-color: #79964d;
  position: absolute;
  width: 150px;
  height: 100px;
  top: 20px;
  left: 20px;

  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

/* .hi {
  margin: auto;
  font-size: 1rem;
} */

.carousel__face:nth-child(1) {
  /* background-image: url("../images/Home/aditya-birla.jpg"); */
  transform: rotateY(0deg) translateZ(480px);
  background-color: #251741;
}
.carousel__face:nth-child(2) {
  /* background-image: url("../images/Home/vedanta.jpg"); */
  transform: rotateY(20deg) translateZ(480px);
  background-color: aqua;
}
.carousel__face:nth-child(3) {
  /* background-image: url("../images/Home/itc.png"); */
  transform: rotateY(40deg) translateZ(480px);
  background-color: #9272d3;
  /* big */
}
.carousel__face:nth-child(4) {
  /* background-image: url("../images/Home/gm.png"); */
  transform: rotateY(60deg) translateZ(480px);
  background-color: #565160;
  /* width: 30%; */
}
.carousel__face:nth-child(5) {
  /* background-image: url("../images/Home/claire.png"); */
  transform: rotateY(80deg) translateZ(480px);
  background-color: #25d725;
  /* width: fit-content; */
}
.carousel__face:nth-child(6) {
  /* background-image: url("../images//Home/britannia.png"); */
  transform: rotateY(100deg) translateZ(480px);
  background-color: #4a92ea;
}
.carousel__face:nth-child(7) {
  /* background-image: url("../images/Home/aditya-birla.jpg"); */
  transform: rotateY(120deg) translateZ(480px);
  background-color: #d37289;
}
.carousel__face:nth-child(8) {
  /* background-image: url("../images/Home/vedanta.jpg"); */
  transform: rotateY(140deg) translateZ(480px);
  background-color: bisque;
}
.carousel__face:nth-child(9) {
  /* background-image: url("../images/Home/itc.png"); */
  transform: rotateY(160deg) translateZ(480px);
  background-color: cadetblue;
}
.carousel__face:nth-child(10) {
  /* background-image: url("../images/Home/gm.png"); */
  transform: rotateY(180deg) translateZ(480px);
  background-color: #a5d725;
}
.carousel__face:nth-child(11) {
  /* background-image: url("../images/Home/claire.png"); */
  transform: rotateY(200deg) translateZ(480px);
  background-color: #0e5054;
}
.carousel__face:nth-child(12) {
  /* background-image: url("../images/Home/britannia.png"); */
  transform: rotateY(220deg) translateZ(480px);
  background-color: #0b3c1c;
}
.carousel__face:nth-child(13) {
  /* background-image: url("../images/Home/aditya-birla.jpg"); */
  transform: rotateY(240deg) translateZ(480px);
  background-color: #61635e;
}
.carousel__face:nth-child(14) {
  /* background-image: url("../images/Home/vedanta.jpg"); */
  transform: rotateY(260deg) translateZ(480px);
  background-color: #dc0033;
}
.carousel__face:nth-child(15) {
  /* background-image: url("../images/Home/vedanta.jpg"); */
  transform: rotateY(280deg) translateZ(480px);
  background-color: #3125d7;
}
.carousel__face:nth-child(16) {
  /* background-image: url("../images/Home/itc.png"); */
  transform: rotateY(300deg) translateZ(480px);
  background-color: #333;
  /* visibility: hidden; */
}
.carousel__face:nth-child(17) {
  /* background-image: url("../images/Home/claire.png"); */
  transform: rotateY(320deg) translateZ(480px);
  /* background-color: beige; */
}
.carousel__face:nth-child(18) {
  /* background-image: url("../images/Home/vedanta.jpg"); */
  transform: rotateY(340deg) translateZ(480px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.carousel-item5 {
  transition: none !important;
}

@media (min-width: 768px) {
  .carousel-item5 {
    margin-right: 0;
    flex: 0 0 32.1% !important;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .card-1 .img-wrapper {
    height: 17em;
  }
}
.ccr {
  left: 65rem;
  top: 22rem;
  font-size: 30px;
  position: absolute;
}

.card-1 {
  width: 24rem;
  height: 32rem;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);

  img {
    filter: brightness(0.5);
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto 30px 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
  }
  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  p {
    inset: auto auto 70px 30px;
  }

  a {
    font-size: 18px;
    width: 39%;
    display: flex;
    inset: auto auto 40px 185px;
    color: white !important;
    text-decoration: none;
  }

  &:hover h2 {
    inset: auto 30px 400px 20px;
    transition: inset 0.3s ease-out;
  }

  &:hover p,
  &:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}
/* 
.carousel-item, .carousel-item:active{
  display: flex;
  gap: 100px;
} */

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  width: 5%;
}
.carousel-control-prev {
  left: -50px;
}
.carousel-control-next {
  right: -48px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  filter: invert();
  background-color: black;
  transition: 0.5s;
  border: none;
}

.carousel-control-prev-icon {
  padding: 40px;
  background-repeat: no-repeat;
  border: 1px solid white;
  background-image: url("../images/arrowleft") !important;
  background-size: auto;
  border-radius: 40px;
}
.carousel-control-next-icon {
  padding: 40px;
  background-repeat: no-repeat;
  border: 1px solid white;
  background-image: url("../images/arrowright.png") !important;
  background-size: auto;
  border-radius: 40px;
}

.carousel5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.carousel5 {
  padding: 5rem;
  overflow: hidden;
}

.carousel-inner5 {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item5 {
  text-align: -webkit-center;
  flex: 0 0 auto;
  padding: 20px;
  transition: flex 0.5s ease, width 0.5s ease; /* Add width transition */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.92);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform-origin: center bottom;
}

.cell-content-inner {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.img5 {
  object-fit: cover;
  font-family: "object-fit: cover;";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.picker {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 90vh;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 425px) {
  .carousel-control-prev,
  .carousel-control-next {
    align-self: self-end;
    bottom: -3.3rem;
  }

  .card-1 {
    width: 20rem;
    height: 26rem;
  }
  .case-studies {
    border-radius: 30px !important;
    height: 610px !important;
    padding: 0 !important;
    padding-top: 2rem !important;
    padding-left: 0.2rem !important;
  }

  .case-studies h1 {
    font-size: 34px !important;
    padding-left: 1rem !important;
  }
  .carousel-control-prev {
    left: 50px;
  }
  .carousel-control-next {
    right: 50px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 30px !important;
  }
  .c-ind{
    display: none;
  }

  .carousel-inner {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .ccb{
    bottom: 18rem;
  }
  .ci{
    padding: 10px;
  }
}
