.carousel1 {
  position: relative;
  /* background-image: url('../images/cbg.png'); */
  background-repeat: no-repeat;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

.carousel-caption {
  text-align: start !important;
  bottom: 7.25rem !important;
  right: 23% !important;
  left: 10% !important;
  font-size: 42px;
}

.carousel-indicators {
  align-items: center;
  width: 46rem;
  height: 4rem;
  border-radius: 50px;
  gap: 20px;
  right: 74rem !important;
  bottom: 1rem !important;
  margin-right: 0% !important;
  margin-left: 5% !important;
}

.carousel-indicators .active {
  background-color: #251741 !important;
}
/* 
.carousel-item.active {
  margin-left: 2% !important;
  margin-right: 2% !important;
} */

.cont {
  text-align: center;
  color: white;
  position: relative;
  width: 5%;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  top: -200px;
}

.caro {
  top: 100px;
  position: absolute;
  width: 200%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: contain;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.hi {
  margin: auto;
  font-size: 1rem;
}

.carousel__face:nth-child(1) {
  background-image: url("../images/Home/aditya-birla.jpg");
  transform: rotateY(0deg) translateZ(480px);
}
.carousel__face:nth-child(2) {
  background-image: url("../images/Home/vedanta.jpg");
  transform: rotateY(20deg) translateZ(480px);
}
.carousel__face:nth-child(3) {
  background-image: url("../images/Home/itc.png");
  transform: rotateY(40deg) translateZ(480px);
}
.carousel__face:nth-child(4) {
  background-image: url("../images/Home/gm.png");
  transform: rotateY(60deg) translateZ(480px);
}
.carousel__face:nth-child(5) {
  background-image: url("../images/Home/claire.png");
  transform: rotateY(80deg) translateZ(480px);
}
.carousel__face:nth-child(6) {
  background-image: url("../images//Home/britannia.png");
  transform: rotateY(100deg) translateZ(480px);
}
.carousel__face:nth-child(7) {
  background-image: url("../images/Home/aditya-birla.jpg");
  transform: rotateY(120deg) translateZ(480px);
}
.carousel__face:nth-child(8) {
  background-image: url("../images/Home/vedanta.jpg");
  transform: rotateY(140deg) translateZ(480px);
}
.carousel__face:nth-child(9) {
  background-image: url("../images/Home/itc.png");
  transform: rotateY(160deg) translateZ(480px);
}
.carousel__face:nth-child(10) {
  background-image: url("../images/Home/gm.png");
  transform: rotateY(180deg) translateZ(480px);
}
.carousel__face:nth-child(11) {
  background-image: url("../images/Home/claire.png");
  transform: rotateY(200deg) translateZ(480px);
}
.carousel__face:nth-child(12) {
  background-image: url("../images/Home/britannia.png");
  transform: rotateY(220deg) translateZ(480px);
}
.carousel__face:nth-child(13) {
  background-image: url("../images/Home/aditya-birla.jpg");
  transform: rotateY(240deg) translateZ(480px);
}
.carousel__face:nth-child(14) {
  background-image: url("../images/Home/vedanta.jpg");
  transform: rotateY(260deg) translateZ(480px);
}
.carousel__face:nth-child(15) {
  background-image: url("../images/Home/vedanta.jpg");
  transform: rotateY(280deg) translateZ(480px);
}
.carousel__face:nth-child(16) {
  background-image: url("../images/Home/itc.png");
  transform: rotateY(300deg) translateZ(480px);
}
.carousel__face:nth-child(17) {
  background-image: url("../images/Home/claire.png");
  transform: rotateY(320deg) translateZ(480px);
}
.carousel__face:nth-child(18) {
  background-image: url("../images/Home/vedanta.jpg");
  transform: rotateY(340deg) translateZ(480px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.carousel-inner {
  margin-top: 3rem;
  padding: 1em;
}

.carousel-item5 {
  transition: none !important;
}

@media (min-width: 768px) {
  .carousel-item5 {
    margin-right: 0;
    flex: 0 0 32.1% !important;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .card-1 .img-wrapper {
    height: 17em;
  }
}

.card-1 {
  width: 24rem;
  height: 30rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(240, 240, 240);

  img {
    filter: brightness(0.5);
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto 30px 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
  }
  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  p {
    inset: auto auto 70px 30px;
  }

  a {
    font-size: 18px;
    width: 39%;
    display: flex;
    inset: auto auto 40px 185px;
    color: white !important;
    text-decoration: none;
  }

  &:hover h2 {
    inset: auto 30px 400px 20px;
    transition: inset 0.3s ease-out;
  }

  &:hover p,
  &:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}
/* 
.carousel-item, .carousel-item:active{
  display: flex;
  gap: 100px;
} */

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  width: 5%;
}
.carousel-control-prev {
  left: -60px;
}
.carousel-control-next {
  right: -60px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  filter: invert();
  background-color: black;
  transition: 0.5s;
  border: none;
}

.carousel-control-prev-icon {
  padding: 40px;
  background-repeat: no-repeat;
  border: 1px solid white;
  background-image: url("../images/arrowleft") !important;
  background-size: auto;
  border-radius: 40px;
}
.carousel-control-next-icon {
  padding: 40px;
  background-repeat: no-repeat;
  border: 1px solid white;
  background-image: url("../images/arrowright.png") !important;
  background-size: auto;
  border-radius: 40px;
}

.carousel5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.carousel5 {
  padding: 5rem;
  overflow: hidden;
}

.carousel-inner5 {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item5 {
  text-align: -webkit-center;
  flex: 0 0 auto;
  padding: 20px;
  margin-right: 10px;
  transition: flex 0.5s ease, width 0.5s ease; /* Add width transition */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.92);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform-origin: center bottom;
}

.cell-content-inner {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.img5 {
  object-fit: cover;
  font-family: "object-fit: cover;";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.picker {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 90vh;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
