*{
    margin: 0;
    padding: 0;
    /* background-color: #262231; */
}

.cs-body{
    background-color: #262231;
    overflow: hidden;
}
.cs-hero{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url(../images/CaseStudies/bg-hero.png); */
    
}

.image-text{
    z-index: 1;
    color: white;
    font-size: 42px;
    position: absolute;
    top: 462px;
    left: 213px;
}



.cs-search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0% 3% 0%;
    
    /* color: white; */
}

.cs-search-bar p{
    font-size: 42px;
    color: white;

}

.cs-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0% 10%;
    position: relative;
    /* background-color: antiquewhite; */
}

.cs-card{
    width: 600px;
    height: 690px;
    /* background-color: aquamarine; */
    /* border: 2px solid white; */
    background-image: url('../images/CaseStudies/cs-bangaloreIA-1.png');
    margin: 2% 0% 8% 0%;
    border-radius: 20px;
    z-index: 1;
    color: white;
    display: grid;
    grid-template-rows: 60% 25% 15%;
    justify-content: center;
    /* align-items: center; */
}

.cs-card div{
    /* background-color: blue; */
    /* border: 1px solid white; */
    padding: 0% 10%;
    /* padding-top: 5%; */
}

.cs-sub-img{
    padding-top: 5% !important;
}

.cs-sub-text .cs-head{
    font-size: 24px;
}

.cs-sub-text .cs-info{
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 10%;
}

.cs-sub-text p{
    margin: 0;
}

.cs-read-more{
    width: 100%;
    /* text-align: right; */
    /* padding-top: ; */
    
    
}
.cs-readmore{
    color: white !important;
    font-size: 30px;
    width: 60%;
    margin-left: 40%;
    margin-top: 0;
    
    
}

.expanded-cs-card{
    position: absolute;
    
}
