.contact-image {
  width: 100%;
  height: 100%;
}
.gotoback {
  display: none;
  filter: invert(0);
  margin-block-start: 10rem;
  margin-left: 18rem;
}
.ln {
  text-align: start;
  margin-left: 8rem;
  padding-top: 3rem;
}
@media (max-width: 768px) {
  .offices1 {
    flex-wrap: wrap;
  }
  .gotoback {
    display: block;
  }
  .form-body {
    gap: 5rem;
    flex-wrap: wrap !important;
  }
  .write-h1 {
    text-align: center;
    font-size: 34px !important;
  }
  .write1 {
    font-size: 20px;
  }
  .text {
    font-size: 24px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* .contact-image {
    padding: 2rem;
  } */
  .text {
    font-size: 28px;
    bottom: 10rem;
    left: 60%;
  }
  .email {
    flex-wrap: wrap;
    gap: 0px !important;
  }
  .form-body {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    flex-wrap: nowrap;
    gap: 2rem !important;
  }
  .location {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

@media (min-width: 1024px) {
  .offices1 {
    /* padding: 1rem; */
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .form-body {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .write-h1 {
    font-size: 38px;
  }
  .write1 {
    font-size: 18px;
  }
  .location {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
}
@media (min-width: 1440px) {
  .email {
    flex-wrap: nowrap;
    gap: 15px !important;
  }
}
@media (max-width: 425px) {
  .text {
    display: none;
  }
  .ln{
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .contact-image {
    margin-top: 5rem;
    padding: 1rem;
    object-fit: contain;
  }
  .form-body {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    gap: 2rem;
    border-radius: 30px !important;
  }
  .email {
    flex-wrap: wrap;
    gap: 0 !important;
  }
  .write-h1 {
    font-size: 24px !important;
  }
  p.write1 {
    margin-top: 1rem;
  }
  .write {
    text-align-last: start;
  }
  .location {
    border-radius: 30px !important;
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .location-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .offices1 {
    gap: 20px !important;
    margin-top: 1.4rem;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .location-h1 {
    margin-left: 2rem !important;
    margin-bottom: 1rem;
    padding-top: 1rem !important;
  }
  .location-name {
    display: none;
  }
  .phonenumbers {
    display: none;
  }
  .form-box {
    padding: 10px !important;
  }
  .inp .textarea {
    height: 12rem !important;
  }
  .location-cardaddress {
    font-size: 18px !important;
  }
  .location-cardtitle {
    font-size: 24px !important;
  }
}
