.contact-image-container {
    margin-top: 0.5rem;
}

.contact-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .offices1{
        flex-wrap: wrap;
    }
    .form-body{
        flex-wrap: wrap !important;
    }
    .write-h1{
        font-size: 34px !important;
    }
    .write1{
        font-size: 20px;
    }
    .text{
        font-size: 24px !important;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .contact-image{
        padding: 2rem;
    }
    .text{

        font-size: 28px;
        bottom: 10rem;
        left: 60%;
    }
    .email{
        flex-wrap: wrap;
        gap: 0px !important;
    }
    .form-body{
        flex-wrap: nowrap;
        gap: 2rem !important;
    }
}

@media (max-width: 1024px) {
    .offices1{
        /* padding: 1rem; */
        margin-left: 2rem;
        margin-right: 2rem;
    }
    /* .form-body{
        gap: 4rem !important;
    } */
    .write-h1{
        font-size: 38px !important;
    }
    .write1{
        font-size: 18px;
    }
}
@media (min-width: 1440px) {
    .email{
        flex-wrap: nowrap;
        gap: 15px !important;
    }
}