.logo-brand {
  z-index: 10;
  position: absolute;
  display: block;
  top: 80px;
  left: 200px;
}

.logo-brand img {
  width: 350px;
  height: 42px;
}

#carousel-control-prev {
  left: 30px;
  width: 10%;
}
#carousel-control-next {
  right: 30px;
  width: 10%;
}

#carousel-control-prev-icon {
  background-image: url("../images/arrowleft") !important;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 40px;
  padding: 40px;
  border: 1px solid white;
}

#carousel-control-next-icon {
  background-image: url("../images/arrowright.png") !important;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 40px;
  padding: 40px;
  border: 1px solid white;
}

#carousel-control-prev-icon:hover,
#carousel-control-next-icon:hover {
  border: none;
  background-color: black;
  filter: invert();
}

#carousel-button {
  opacity: 1 !important;
  /* padding: 2px; */
  background-color: #f1faff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
}

.whyus {
  padding-left: 10rem;
  display: flex;
  align-items: center;
}
.why-choose-head {
  font-size: 42px;
  font-weight: 500;
}
.whyus-details {
  font-weight: 500;
  margin-left: 4.6rem;
  margin-right: 6rem;
  font-size: 24px;
  line-height: 50px;
}
.last {
  position: relative;
}
.last img {
  width: 100vw;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}
.last ul {
  position: absolute;
}
.last-text {
  text-shadow: 2px 2px 5px black;
  position: absolute;
  top: 50%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.last-text1 {
  position: relative;
  align-items: center;
  display: flex;
  color: #251741;
  position: absolute;
  top: 62%;
  left: 62%;
  /* transform: translate(-50%, -50%); */
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  border-bottom: 2px solid #251741;
  width: 10%;
  padding-bottom: 5px;
  text-align: right;
}
.last-text-1 {
  color: #251741;
  bottom: 48rem;
  left: 14rem;
  position: relative;
  font-size: 30px;
  font-weight: 500;
}
.last-ul {
  color: #251741;
  bottom: 15rem;
  left: 44rem;
  position: relative;
  font-size: 24px;
}

.last-contact {
  padding: 60px;
  border-radius: 80px;
  color: black;
  background-color: #e8e8e8;
  width: 90vw;
  margin-left: 5.5rem;
  margin-bottom: 8rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

@media (max-width: 768px) {
  .x1 {
    flex-wrap: wrap;
    gap: 0;
  }
  .carousel-indicators {
    width: 40rem !important;
    height: 3rem !important;
    bottom: 1rem !important;
    gap: 15px !important;
  }
  #carousel-button {
    opacity: 1 !important;
  }
  .carousel-caption {
    font-size: 20px !important;
    bottom: 5.25rem !important;
    left: 17% !important;
  }
  #carousel-control-prev-icon {
    padding: 27px;
  }
  #carousel-control-next-icon {
    padding: 27px;
  }
  .number5 {
    font-size: 40px !important;
  }
  .number20 {
    font-size: 140px !important;
    margin-bottom: -2rem;
  }
  .number60 {
    font-size: 40px !important;
  }
  .videoText {
    gap: 40px;
    flex-wrap: wrap;
  }
  .video-info {
    width: 100% !important;
  }
  .trustedtext p {
    font-size: 20px;
    line-height: 45px;
    padding-top: 30rem !important;
    width: 210% !important;
  }
  .clientele {
    padding-left: 5rem !important;
  }
  #slideshow {
    margin-top: -20rem !important;
  }
  .why-choose-head {
    font-size: 34px !important;
  }
  .whyus-text p {
    width: -webkit-fill-available;
    font-size: 30px;
    margin: 0px;
  }
  .whyus-details {
    margin-left: 2.6rem !important;
    margin-right: 2rem !important;
    font-size: 22px;
    line-height: 50px;
  }
  .mainLogo {
    left: 330px !important;
  }
  .m0 {
    left: 255px !important;
  }
  .m1 {
    left: -20px !important;
  }
  .m2 {
    left: 16px !important;
  }
  .m3 {
    width: 33% !important;
    left: 35px !important;
  }
  .m4 {
    left: 205px !important;
  }
  .m5 {
    left: 495px !important;
  }
  .m6 {
    left: 510px !important;
  }
  .m7 {
    left: 495px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ceo-photo-1 {
    width: 34rem;
  }
  .carousel-indicators {
    width: 34.5rem;
    height: 3rem;
    margin-left: 12rem !important;
    bottom: 0rem !important;
    gap: 20px !important;
  }
  #carousel-button {
    opacity: 1 !important;
  }
  .carousel-caption {
    font-size: 28px;
    bottom: 5.25rem !important;
    left: 17% !important;
  }
  #carousel-control-prev-icon {
    padding: 27px;
  }
  #carousel-control-next-icon {
    padding: 27px;
  }
  .years {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0px;
  }
  .number5 {
    font-size: 70px !important;
  }
  .number20 {
    font-size: 170px;
  }
  .number60 {
    font-size: 70px !important;
  }
  .videoText {
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .video-info {
  width: 60%;    
    line-height: 40px !important;
    font-size: 18px !important;
  }
  .readmore {
    font-size: 18px !important;
  }
  .whyus {
    padding-left: 5rem;
  }
  .why-choose-head {
    font-size: 38px;
  }
  .whyus-text p {
    font-size: 30px;
    margin: 0px;
  }
  .whyus-details {
    margin-left: 4.6rem;
    margin-right: 4rem;
    font-size: 22px;
    line-height: 50px;
  }
  .clientele {
    padding-left: 5rem !important;
  }
  .trustedtext {
    padding-right: 25%;
  }
  .trustedtext p {
    line-height: 45px;
  }
  #slideshow {
    margin-top: -8rem;
    width: 25%;
  }
  .mainLogo {
    left: 400px;
  }
  .m0 {
    left: 320px;
  }
  .m1 {
    left: 20px;
  }
  .m2 {
    left: 16px;
  }
  .m3 {
    width: 25% !important;
    left: 63px;
  }
  .m4 {
    left: 285px;
  }
  .m5 {
    left: 575px;
  }
  .m6 {
    left: 630px;
  }
  .m7 {
    left: 575px;
  }
  .wwdb-menu div p {
    font-size: 20px;
  }
  .logoImg {
    width: 50px;
  }
  .wwdb-head {
    font-size: 38px;
  }
  .mainLogo img {
    width: 85%;
  }
}

.clientele {
  margin-top: 12rem;
  margin-bottom: -5rem;
  padding-left: 10rem;
}

@media (min-width: 1440px) {
  .trustedtext p {
    padding-left: 10rem;
  }
}
