.home-start {
  margin-top: 5%;
  border-radius: 100px;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.bg-video {
  z-index: -1;
  left: 5%;
  position: absolute;
  border-radius: 80px;
  height: inherit;
  object-fit: fill;
  width: 90%;
  overflow: hidden;
  background-color: aqua;
}

.years {
  flex-wrap: nowrap;
  width: 90%;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 50px;
  align-items: center;
  color: white;
  justify-content: center;
}
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

.number5 {
  font-size: 100px;
}

.number20 {
  font-family: "monospace";
  font-size: 200px;
  font-family: "Train One", system-ui;
}

.number60 {
  font-size: 100px;
}

/* .delay{
  animation: 5s fadeIn !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
} */

.x {
  font-size: 30px;
  text-align: center;
  margin-top: -40px;
  /* padding-left: 10%; */
}

.case-studies {
  margin: 5%;
  border-radius: 100px;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: url(../images/Home/casestudies-bg.webp);
  height: 780px;
  padding: 5rem;
  padding-left: 5rem;
}

.case-studies h1 {
  font-weight: 400;
  font-size: 42px;
}
.readmore {
  /* gap: 20px; */
  display: flex;
  /* justify-content: flex-end;  */
  text-align-last: right;
  width: 22%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  transition: justify-content 0.5s;
}

.readmore:hover {
  gap: 20px;
  justify-content: flex-start; /* Align text to the left on hover */
}

.readmore:after {
  margin-left: auto;
  gap: 20px;
  filter: invert(1);
  align-self: center;
  float: right;
  content: "";
  width: 30px; /* Adjust the width of the SVG */
  height: 20px; /* Adjust the height of the SVG */
  background: url("../images/Vector.svg") no-repeat;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* Transition opacity and transform over 0.5 seconds */
  transform: translateX(-10px);
}
.readmore:hover::after {
  opacity: 1; /* Fade in the SVG on hover */
  transform: translateX(0); /* Move the arrow back to its original position */
}
.videoText {
  padding: 10rem;
}
.videoText .video-info {
  width: 70%;
  padding-left: 7rem;
  line-height: 50px;
  height: 100%;
  font-size: 24px;
}
.video-info{
  width: 57% !important;
}
.n1 {
  font-weight: 500;
}
/* .videoText a{
  position: absolute;
  width: 374px;
  height: 70px;
  top: 1550px;
  left: 1302px;
} */

@media (max-width: 1024px) {
  .case-studies {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .partners {
    margin-top: 10rem;
    padding: 5rem;
  }
}
@media (max-width: 425px) {
  
  .x1 {
    flex-wrap: wrap;
    font-size: 24px !important;
  }
  .number20 {
    margin-bottom: -1rem;
    height: 120px;
    font-size: 100px;
  }
  .years {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0 !important ;
    padding-right: 0 !important;
  }
  .years .col {
    width: 100%;
    margin-bottom: 1rem;
  }
  .home-start {
    border-radius: 30px !important;
  }
  .years .x1 {
    width: 100%;
    order: -1;
  }
  .year-name {
    font-size: 34px !important;
    padding-top: 0 !important;
  }
  .whyus {
    padding: 20px;
    height: 100%;
    padding-left: 20px !important;
  }
  .why-choose-head {
    font-weight: bold !important;
    padding-top: 20px;
    font-size: 20px !important;
  }
  .whyus-text {
    margin: 0 !important;
  }
  .whyus-text p {
    text-align: left;
    margin: 0px 0px !important;
    width: 100%;
    font-size: 18px !important;
  }
  .whyus-details {
    letter-spacing: 0;
    font-size: 18px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .videoText {
    flex-wrap: wrap;
    padding: 0 !important;
  }
  .video-info {
    width: 100% !important;
    padding-left: 3rem !important;
    line-height: 35px !important;
    font-size: 18px !important  ;
  }
  .bg-video {
    border-radius: 30px !important;
  }
}
