.navigation-bar{
  background-color: aquamarine;
  /* width: 99vw; */
  height: 100%;
  overflow-y: scroll;

}

/* Adjust padding to account for scrollbar */
.navigation-bar::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
}

.navbar {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0 !important;
  border-radius: 100px;
  box-sizing: content-box;
  padding-right: 0%;
  /* border-bottom: 0px !important; */
  /* padding: 0 !important; */
  /* left: 52%; */
  position: fixed !important;
  background-color: #F1FAFF;
  width: 42%;
  height: 8.5%;
  top: 5%;
  z-index: 1000;
  /* column-gap: 10px; */
  /* background-color: #5023aa; */
  transition: transform 0.3s ease-in-out 0.5s !important;
  /* animation: expandFromLeft 0.3s ease; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding-right: 12px; */
  /* padding: 0 2px; */
  transition: padding 0.1s ease; /* Smooth padding transition */
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes expandFromLeft {
  0% {
    width: 42%; /* Initial width */
    left: 51%; /* Initial left position */
  }
  100% {
    width: 90%; /* Final width */
    left: 5%; /* Final left position */
    /* background-color: #5023aa; */
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
    padding: 0;

  }
}


@keyframes shrinkToCenter {
  from {
    width: 90%;
    left: 5%;
  }
  to {
    width: 42%;
    left: 51%;
  }
}

.scrolled-nav{
  animation: expandFromLeft 0.3s ease forwards;
  top: 0;
  height: 5rem;
  /* background-color: aqua; */
  /* padding-right: 16px; */
  /* width: 100vw; */
}

.scrolled-top .navbar {
  animation: shrinkToCenter 0.4s ease forwards;
  /* background-color: #5b4586; */
  
}

.navbar-brand img {
  display: none; /* Initially hide logo image */
  transition: 0.5s ease 0.3s;
}

.scrolled-nav .navbar-brand img {
  display: block; /* Show logo image when scrolled */
  /* transition-delay: 0.5s; */
  /* background-color: #5023aa;
  width: 100%; */
  height: 28px;
  
}


.nav-link.active {
  border-radius: 100px;
  background: linear-gradient(135deg, #251741, #5023aa) !important;
  color: white !important;
  font-weight: 200 !important;
  text-decoration: none;
  
}

.navbar.hidden {
  transform: translateY(-80%);
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus-visible {
  border: 0px !important;
  box-shadow: none !important;
}
.navbar.hidden:hover {
  transform: translateY(10%);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.logo-font {
  background-color: #251741;
  font-size: 10px;
  text-align: right;
}
.nav-item {
 
  position: relative;
  /* margin: 0% 2% 0% 2%; */
  width: fit-content;
  
  /* background-color: antiquewhite; */

}

.scrolled-nav .nav-item{
  left: 15%;
}

.nav-link {
  transition: color 0.3s, border-bottom-color 0.3s;
  position: relative;
  letter-spacing: 0.1px !important;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: black !important;
  text-decoration: none;
  /* margin: 0% 10% 0% 5%; */
  /* background-color: aqua; */
  padding: 25px 20px !important;
  
  /* margin-left: 0; */
}

/* From Left to Right */
/* Fade in */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translateY(0.2em);
}

/* Slide in */
.nav-link::after {
  opacity: 1;
  transform: translateX(-100%);
}

.nav-link-slide:hover::after,
.nav-link-slide:focus::after {
  transform: translateX(100%);
}

/* Scale from center */
.nav-link::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scale(0.7);
}
.nav-link.active::after {
  opacity: 0; /* Disable underline transition for active link */
}

/* #navbarSupportedContent{
  background-color: antiquewhite;
  right: -5;

} */

@media (max-width: 480px) {
  .scrolled-nav{
    height: 4rem;
    animation: none;
    width: 100%;
    border-radius: 0;
  }
  .home{
    margin-top: 5rem;
  }
}