.service-bg {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  /* margin-top: 1rem; */
}
.service-head {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .service-img {
    width: 1rem;
  }
  .service-title-main {
    font-size: 16px !important;
  }
  .services-main {
    width: 400% !important;
  }
  .service-title {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .service-text {
    font-size: 18px !important;
    top: 14rem !important;
    left: 6rem !important;
  }
  .services-in {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    margin-bottom: 4rem !important;
  }
  .services-main {
    width: 400% !important;
  }
  .services-ndetails {
    font-size: 20px;
  }
  .service-title {
    font-size: 20px !important;
  }
  .services-mainf {
    padding: 2rem !important;
  }
  .service-head {
    font-size: 32px !important;
  }
  .service-title-main {
    font-size: 18px !important;
  }
  .service-img {
    width: 2rem;
  }
  .service-details {
    font-size: 18px !important;
    line-height: 44px !important;
  }
}

@media (min-width: 1024px) {
  
  .service-text {
    font-size: 26px !important;
    top: 18rem !important;
    left: 6rem !important;
  }
  .service-img {
    width: 3rem;
  }
}

@media (min-width: 1440px) {
  .services-main {
    width: 200% !important;
  }
  .service-text {
    font-size: 42px !important;
    top: 30rem !important;
    left: 12rem !important;
  }
}
.service-head {
  margin-top: 30px;
  font-size: 42px;
  text-align: center;
}

.service-name {
  justify-content: center;
  width: 50vw;
  display: flex;
  align-items: center;
}
.service-name p {
  margin-bottom: 0;
}

.services-in {
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 10rem;
  margin-top: 33px;
}

.left {
  border-radius: 3rem;
  /* border: 1px solid black; */
  /* width: 2rem; */
  background: #FFFFFF;
  margin-right: 2rem;
  background-image: url("../images/Home/arrowleft.png");
  background-size: auto;
  height: 4rem;
  width: 4.5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: 0px 1px 2px black;
  /* box-shadow: 0px 1px 3px 1px black; */
}

.right {
  border-radius: 3rem;
  /* width: 2rem; */
  background: #FFFFFF;
  margin-left: 2rem;
  background-image: url("../images/Home/arrowright.png");
  background-size: auto;
  height: 4rem;
  width: 4.5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: 0px 1px 2px black;
}

.service-text {
  font-size: 42px;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 30rem;
  left: 10rem;
}

.imgtit{
  margin-top: 44px;
  margin-bottom: 22px;
}

.services-list{
  font-size: 28px;
  line-height: 60px;
}

.service-content {
  opacity: 0; 
}

.fade-in {
  animation: fade-in 3s forwards;
}

@keyframes fade-in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 425px) {
  .logo-brand{
    position: relative;
    top: 30px;
    left: 10px;
  }  
  .logo-brand img{
    display: none;
    width: 165px;
    height: 20px;
  }
  .services-in{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .services-ndetails{
    display: flex;
    flex-wrap: wrap;
  }
  .imgtit{
    display: none !important;
  }
  .service-content{
    display: flex;
    flex-wrap: wrap;
  }
  .slider-container{
    width: 100% !important;
  }
  .service-details{
    font-size: 18px !important;
    line-height: 34px !important;
  }
  .services-main {
    width: 140rem !important;
    gap: 30px !important;
  }

  .service-head{
    text-align: left;
    margin-left: 1rem;
    font-size: 18px !important;
    font-weight: 500;
    margin-bottom: 0 !important;
  }
  .services-mainf{
    padding: 0 !important;
  }
  .services-list{
    font-size: 18px;
    line-height: 40px !important;
  }
  .service-name{
    flex: 0 0 13.5%;
  }
  .service-bg{
    /* padding-left: 1rem !important;
    padding-right: 1rem !important;
    object-fit: contain !important;
    margin-top: 2rem !important; */
  }
  .service-title-main{
    font-size: 18px !important;
  }
  .service-img{
    width: 2rem !important;
  }
  .left{
    height: 3rem;
    background: #251741;
    margin-right: 1rem !important;
  }
  .right{
    height: 3rem;
    background: #251741;
    margin-left: 1rem !important;
  }
}
