p{
    margin: 0;
}

.service-bg {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    margin-top: 1rem;
  }

  .services-main{
    width: 100vw;
    height: 60rem;
    
  }

  .services-mainhead{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 42px;
    text-align: center;
    color: #251741;
    /* background-color: aqua; */
  }

  .services-section{
    /* background-color: antiquewhite; */
    height: 100%;
    margin: 2% 2.5% 0 2.5%;
  }

  .services-container{
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .services-ul{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    /* background-color: aqua; */
  }
  
  .details {
    width:80%;
    /* margin-left: 14.8%; */
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0%;
    margin-top: 0%;
    border: 10px solid #251741;
    /* background-color: #ccc; */
  }

  .custom-tabs {
    width: 100%;
    /* background-color: #fff; Example background color */
    display: flex;
    justify-content: space-between;
  }
  
  .custom-tab {
    font-size: 25px !important;
    flex: 1 1 33%; /* Each tab takes up 33% of the parent container */
    max-width: calc(100% / 3) !important; /* Ensure tabs don't exceed 33% width */
    text-align: center; /* Optional: Center-align text */
  }


  .g1{
    /* background-color: rgb(80, 29, 116); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 1% 2% 4%;
  }

  .g1 div{
    margin: 1% 1% 2% 2%;
    /* background-color: #ccc; */
    width: 90%;
    padding: 1.5% 4%;
    background-color: #E9E8EC;
    border-radius: 10px;
    color: #251741;
  }

  .g2{
    

  }


  .slider-images div{
    /* margin-top: 0.8%; */
    height: 100%;
    /* width: 85%; */
    /* width: 100%; */
    /* background-color: antiquewhite; */
  }

  .slider-images div img{
    height: 85%;
    width: 85%;
  }

  .slider-images{
    /* background-color: aliceblue; */
    height: 100%;
    margin: 1% 0%;
    padding-top: 13%;
    padding-right: 0%;
  }