@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slides{
  margin: 100px;
}

.slider {
  background: white;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 11);
}
.slider .slide-1 {
  text-align-last: center;
  align-self: center;
  height: 100%;
  width: 100%;
}
.slider {
  width: 70%;
  height: 100%;
}
.slide-1 {
  height: 100px;
  width: 250px;
}
