.what-we-do-best {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative
  /* background-color: #0077ff; */
  
}
/* 
.wwdb-containerDetails{
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 89%;
  top: 0;
  left: 0;
}

.details-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.details-container p, div{
  position: absolute;
}

.wwdb-details-head{
  font-size: 42px;
  top: 129px;
  left: 113px;
  margin: 0;
  padding: 0;
  width: fit-content;
  color: white;
}

.service-head{
  top: 273px;
  left: 394px;
}

.details-mainLogo{
  width: 70px;
  height: 111px;
  top: 403px;
  left: 866px;
}
 */

/* .service-info p{
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 5%;
} */

/* 
.wwdb-read-more{
  position: absolute;
  top: 552px;
  left: 1225px;
  width: fit-content;
}

 */

.wwdb-container {
  color: white;
  width: 1724px;
  /* margin-top: 20%; */
  height: 780px;
  border-radius: 100px;
  position: relative;
  background-image: url("../images/Home/wbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 10%; */
  /* background-color: #5023aa; */

  /* opacity: 0; */
}

.wwdb-head {
  /* background-color: #a78cdc; */
  font-size: 42px;
  position: absolute;
  top: 89px;
  left: 113px;
  margin: 0;
  padding: 0;
  width: fit-content;
  
}

/* newwwwwww */

.wwdb-menu div{
  position: absolute;
  /* background-color: aliceblue; */
  width: fit-content;
  
}

.mainLogo{
  left: 825px;
  top: 348px;
  /* z-index: 100; */
  width: 70px;
  height: 111px;
}

.wwdb-menu div p{
  font-size: 28px;
  font-family: 'poppins';
  margin: 0;
  padding: 0;
  width: fit-content;
  /* background-color: aquamarine; */
}

.logoImg{
  width: 60px;
  height: 60px;
}

.m0{
  text-align: center;
  top: 135px;
  left: 709px;
}

.m1{
  left: 349px;
  top: 238px;
}

.m2{
  left: 407px;
  top: 360px;
}

.m3{
  left: 206px;
  top: 483px;
}

.m4{
  text-align: center;
  top: 567px;
  left: 640px;
}

.m5{
  top: 484px;
  left: 985px;
}

.m6{
  top: 360px;
  left: 1034px;
}

.m7{
  top: 238px;
  left: 985px;
}

.m1, .m2, .m3, .m5, .m6, .m7{
  display: flex;
  align-items: center;
}

.m0, .m1, .m2, .m3, .m4, .m5, .m6, .m7:hover{
  cursor: pointer;
}

.wwdb-learn-more{
  position: absolute;
  top: 673px;
  left: 1126px;
  width: 471px;
  /* background-color: aqua; */
}

.wwdb-learn-more .btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}

.wwdb-learn-more .btn{
    padding: .5rem 0 .5rem;
    width: 100%;
    height: 60px;
    text-align: right;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.wwdb-learn-more .btn-arrow span{
  color: white;
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}

.learnMore{
  font-size: 30px;
  /* width: 470px; */
  /* background-color: #0077ff; */
  margin-right: 0;
  /* width: 470px; */
}

.wwdb-learn-more .btn-arrow :hover{
  transform: translate3d(-1rem, 0, 0);
}

.wwdb-learn-more .btn-arrow .fas{
  position: absolute;
  width: 1em;
  right: 0px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.wwdb-learn-more .btn-arrow :hover .fas{
  opacity: 1;
  right: -2rem;
  padding-left: 5px;
}











/*  */

/* .wwdb-menu {
  background-color: #5c5bdf;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0%;
  flex-direction: column;
}

.wwdb-menu .m2,
.m3,
.m4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wwdb-menu .m1 {
  width: fit-content;
  text-align: center;
}
.wwdb-menu .m5 {
  width: fit-content;
  text-align: center;
}

.wwdb-menu .m5 img {
  width: 12%;
}

.wwdb-menu .m2 {
  padding: 2% 27% 2% 25%;
}

.wwdb-menu .m4 {
  padding: 2% 36% 1% 29%;
}
.wwdb-menu .m4 img {
  width: 24%;
}
.wwdb-menu .m3 .p5 img {
  width: 10%;
}

.wwdb-menu .m3 {
  padding: 0% 15% 0% 20%;
} */

/* .wwdb-menu div {
  border: 2px solid green;
  width: 100%;
} */

/* .wwdb-menu p {
  
  width: fit-content;
  margin: 0;
  cursor: pointer;
  font-size: 23px;
}

.wwdb-menu div p img {
  width: 13%;
  margin: 0;
  cursor: pointer;
}

.wwdb-menu .m1 img,
.m5 img {
  width: 17%;
} */

/* .wwdb-learn-more {
  width: 100%;
  font-size: 18px;
  padding-top: 1%;
  text-align: right;
  padding-right: 5%;
}
.wwdb-learn-more p {
  margin: 0;
}

.wwdb-learn-more div {
  width: 30%;
  margin-left: 70%;
} */

/* animation on wwdb page */
/* .wwdb-menu p:hover,
img:hover {
  transition: 1s;
  color: white;
  text-shadow: 0 0 10px #000000;
}

.wwdb-details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
} */
/* .wwdb-details .wwdb-head {
  color: white;
  cursor: pointer;
}

.wwdb-details .details-wrapper {
  color: white;
  padding-top: 5%;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 15%;
  padding-right: 8%;
}

.wwdb-details .right .p1-info {
  font-size: 18px;
  padding-left: 12%;
  line-height: 250%;
  letter-spacing: 0.5px;
}

.wwdb-details .right .info {
  font-size: 23px;
  border-bottom: 1px solid white;
  margin-left: auto;
  width: fit-content;
  padding-top: 2%;
}

.company-logo {
  z-index: 4;
} */

/* #wwdb-details {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0%;
} */

/*the fade animations*/

/* @keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
} */

/* @keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
} */
