.wwdb-details-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  height: 780px;
  border-radius: 20px;
  z-index: 100;
  cursor: pointer;
}

.wwdb-close-button {
  position: absolute;
  top: 10%;
  left: 1546px;
  cursor: pointer;
  z-index: 1000;
}

.wwdb-logo-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.wwdb-logo-title p {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: fit-content;
  color: white;
}

.wwdb-image-container {
  position: absolute;
  left: 178px;
  width: 436px;
  height: 267px;
  border-radius: 20px;
  z-index: 101;
}
.wwdb-image-container img {
  width: 600px;
  height: 400px;
}

.wwdb-details-text {
  text-align: left;
  position: absolute;
  width: 559px;
  height: 150px;
  left: 858px;
  color: white;
}

.wwdb-details-text p {
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 5%;
  color: white;
  
  margin: 0;
  padding: 0;
}
.wwdb-learn-more {
  position: absolute;
  bottom: 5%; /* Move to the bottom of the container */
  left: 88%; /* Center horizontally */
  transform: translateX(-50%);
  width: 100%; /* Make it responsive */
  max-width: 300px; /* Limit max size */
  padding: 10px 20px; /* Add padding */
  text-align: center;
  /* background-color: aqua; */
}

.wwdb-learn-more .btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}

.wwdb-learn-more .btn {
  padding: 0.5rem 0 0.5rem;
  width: 100%;
  height: 60px;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.wwdb-learn-more .btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow .learnMore {
  color: white;
}
