.what-we-do-best {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: #0077ff; */
}
.openarrow{
  display: none;
}
/* 
.wwdb-containerDetails{
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 89%;
  top: 0;
  left: 0;
}

.details-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.details-container p, div{
  position: absolute;
}

.wwdb-details-head{
  font-size: 42px;
  top: 129px;
  left: 113px;
  margin: 0;
  padding: 0;
  width: fit-content;
  color: white;
}

.service-head{
  top: 273px;
  left: 394px;
}

.details-mainLogo{
  width: 70px;
  height: 111px;
  top: 403px;
  left: 866px;
}
 */

/* .service-info p{
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 5%;
} */

/* 
.wwdb-read-more{
  position: absolute;
  top: 552px;
  left: 1225px;
  width: fit-content;
}

 */

.wwdb-container {
  width: 90%;
  /* margin-top: 20%; */
  height: 780px;
  border-radius: 20px;
  position: relative;
  /* background-image: url("../images/Home/wbg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 10%; */
  /* background-color: #5023aa; */

  /* opacity: 0; */
}

.wwdb-head {
  /* background-color: #a78cdc; */
  font-size: 42px;
  position: absolute;
  top: 45px;
  left: 113px;
  margin: 0;
  padding: 0;
  width: fit-content;
}

/* newwwwwww */

.wwdb-menu div {
  position: absolute;
  /* background-color: aliceblue; */
  /* width: fit-content; */
}

.mainLogo {
  left: 808px;
  top: 330px;
  /* z-index: 100; */
  width: 100px;
  height: 157px;
  /* background-color: aqua; */
}

.wwdb-menu div p {
  font-size: 28px;
  font-family: "poppins";
  margin: 0;
  padding: 0;
  width: fit-content;
  /* background-color: aquamarine; */
}

.logoImg {
  width: 60px;
  height: 60px;
}

.m0 {
  text-align: center;
  top: 135px;
  left: 709px;
}

.m1 {
  left: 349px;
  top: 238px;
}

.m2 {
  left: 407px;
  top: 360px;
}

.m3 {
  left: 206px;
  top: 483px;
}

.m4 {
  text-align: center;
  top: 567px;
  left: 640px;
}

.m5 {
  top: 484px;
  left: 985px;
}

.m6 {
  top: 360px;
  left: 1034px;
}

.m7 {
  top: 238px;
  left: 985px;
}

.m1,
.m2,
.m3,
.m5,
.m6,
.m7 {
  display: flex;
  align-items: center;
}

.m0,
.m1,
.m2,
.m3,
.m4,
.m5,
.m6,
.m7:hover {
  cursor: pointer;
}

.wwdb-learnmore-2 {
  position: absolute;
  top: 632px;
  left: 1296px;
  width: 300px;
  /* background-color: aqua; */
}

.wwdb-learn-more .btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}

.wwdb-learn-more .btn {
  padding: 0.5rem 0 0.5rem;
  width: 80%;
  height: 60px;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.wwdb-learn-more .btn-arrow span {
  /* color: rgb(0, 0, 0); */
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}

.learnMore {
  font-size: 30px;
  margin-right: 0;
}

.fas :hover {
  transform: translate3d(5rem, 0, 0);
}

.fas {
  position: absolute;
  width: 1em;
  right: -3rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn-arrow :hover .fas {
  opacity: 1;
  right: -4.5rem;
  padding-left: 5px;
}

.wwdb-video{
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .what-we-do-best {
    margin-top: 2rem;
  }
  .wwdb-video{
    position: absolute;
  }
  .wwdb-head {
    margin-top: 1rem;
    padding-left: 1rem;
    position: static;
    font-size: 24px !important;
  }

  .wwdb-container {
    width: 100% !important;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100% !important;
    border-radius: 30px !important;
    background-image: none;
  }
  .wwdb-menu-wrapper {
    border-radius: 20px;
    /* background-image: url("../images/Home/wbg.jpg"); */
  }
  .wwdb-details-overlay {
    width: 95% !important;
    height: 100% !important;
  }

  .wwdb-logo-title,
  .wwdb-close-button,
  .wwdb-image-container,
  .wwdb-details-text {
    position: static !important;
  }
  .wwdb-menu {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .wwdb-menu div {
    position: static;
  }

  .wwdb-menu div p {
    font-size: 18px !important;
  }

  .logoImg {
    filter: grayscale(1);
    width: 40px;
    height: 40px;
  }

  .mainLogo {
    display: none !important;
  }

  .m0,
  .m4 {
    text-align: left;
    display: flex;
  }

  .m0,
  .m1,
  .m2,
  .m3 {
    flex-direction: row-reverse;
  }

  .m0,
  .m1,
  .m2,
  .m3,
  .m4,
  .m5,
  .m6,
  .m7 {
    align-items: center;
  }
  .wwdb-logo-title {
    gap: 10px;
  }
  .wwdb-logo-title p {
    font-size: 20px !important;
  }
  .wwdb-logo-title img {
    height: 40px;
  }
  .wwdb-close-button {
    margin-left: 20rem !important;
  }
  .wwdb-image-container {
    height: 200px !important;
    width: fit-content !important;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .wwdb-image-container img {
    height: 200px !important;
    width: max-content !important;
  }
  .wwdb-details-text p {
    line-height: 40px !important;
    font-size: 18px !important;
    padding: 1rem !important;
    padding-left: 2rem !important;
    width: 95vw;
  }
  .openarrow{
    display: block;
    margin-left: auto;
  }
}
