.carousel1 {
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/cbg.png);
}
.carousel {
  padding-top: 144px;
  height: 700px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: 13px;
}
.carousel-inner {
  height: 100%;
  display: flex;
  transition: all ease 0.5s;
}
.carousel-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--slide-width);
}
.carousel-item h1 {
  opacity: 0.5;
}
.carousel-controls .prev {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  /* background-image: url("prev.svg"); */
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}
.carousel-controls .next {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  /* background-image: url("next.svg"); */
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.carousel-indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.carousel-indicators span {
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  opacity: 0.5;
  cursor: pointer;
  margin: 3px;
}
.carousel-indicators span.active {
  opacity: 1;
}

/* @media (min-width: 768px) {
  .carousel-item:nth-child(1) {
    --slide-width: 50%;
  }
  .carousel-item:nth-child(2) {
    --slide-width: 30%;
  }
  .carousel-item:nth-child(3) {
    --slide-width: 20%;
  }
  .carousel-item:nth-child(4) {
    --slide-width: 20%;
  }
} */
