.what-we-do-best{
    width: 100vw;
    height: 900px;
    /* background-color: #0077ff; */
    background-image:  url('../images/wbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wwdb-container{
    width: 100%;
    height: 100%;
    /* background-color: #5023aa; */
  }
  
  .wwdb-head{
  /* background-color: #5023aa; */
  font-size: 42px;
  padding-top: 4%;
  padding-left: 10%;
  margin: 0;
  
  }
  
  .wwdb-menu{
    /* background-color: #5c5bdf; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    padding-top: 5%;
    /* justify-content: center; */
    flex-direction: column;
  }
  
  .wwdb-menu .m2, .m3, .m4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .wwdb-menu .m1{
    width: fit-content;
    text-align: center;
  }
  .wwdb-menu .m5{
    width: fit-content;
    text-align: center;
  }
  
  .wwdb-menu .m5 img{
    width: 12%;
  }
  
  .wwdb-menu .m2{
   padding: 2% 27% 2% 25%;
  }
  
  .wwdb-menu .m4{
    padding: 2% 36% 1% 29%;
  }
  .wwdb-menu .m4 img{
    width: 24%;
  }
  .wwdb-menu .m3 .p5 img{
    width: 10%;
  }
  
  .wwdb-menu .m3{
    padding: 0% 15% 0% 20%;
  }
  
  
  .wwdb-menu div{
    /* border: 2px solid green; */
    width: 100%;
  }
  
  .wwdb-menu p{
    /* border: 2px solid black; */
    width: fit-content;
    margin: 0;
    cursor: pointer;
    font-size: 26px;
  }
  
  .wwdb-menu div p img{
    width: 15%;
    margin: 0;
    cursor: pointer;
  }
  
  .wwdb-menu .m1 img, .m5 img{
    width: 17%;
  }
  
  .wwdb-learn-more{
    width: 100%;
    font-size: 18px;
    /* color: white; */
    /* background-color: #125645; */
    padding-top: 1%;
    text-align: right;
    padding-right: 5%;
  }
  .wwdb-learn-more p{
    /* color: white; */
    margin: 0;
  
  }
  
  .wwdb-learn-more div{
    width: 30%;
    margin-left: 70%;
  }
  
  /* animation on wwdb page */
  .wwdb-menu p:hover, img:hover{
    transition: 1s;
    color: white;
    /* box-shadow: 0px 3px 4px 4px #BF9C33; */
    text-shadow:0 0 10px #000000;
  }
  
  .wwdb-details{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
  }
  .wwdb-details .wwdb-head{
    color: white;
    cursor: pointer;
    /* transition: 0.2s ease-out; */
  }
  
  .wwdb-details .details-wrapper{
    color: white;
    /* border: 2px solid white; */
    /* padding-left: 15%; */
    padding-top: 5%;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 15%;
    padding-right: 8%;
  }
  
  .wwdb-details .right .p1-info{
    font-size: 18px;
    padding-left: 12%;
    line-height: 250%;
    letter-spacing: 0.5px;
  }
  
  .wwdb-details .right .info{
    font-size: 23px;
    border-bottom: 1px solid white;
    margin-left: auto;
    /* padding-right: 18%; */
    width: fit-content;
    padding-top: 2%;
  
  
  }
  
  .company-logo{
    /* position: absolute; */
    z-index: 4;
  }

 #wwdb-details {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0%;
  }
  
  
  /*the fade animations*/
  
  @keyframes fade-out {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      /* overlay: auto; */
      /* display: none; */
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }