body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.logo-brand {
  z-index: 10;
  position: absolute;
  display: block;
  top: 108px;
  left: 207px;
}

.logo-brand img {
  width: 350px;
  height: 42px;
}

svg.btn.search {
  height: 30px;
  width: 50px;
}
.read-1:active:hover:not([disabled]) {
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* line part */
.text {
  /* background-image: url('./images/madeleine-ragsdale-j0i8M-2aTPE-unsplash\ 1.png'); */
  text-shadow: 2px 2px 5px black;
  position: relative;
  bottom: 25rem;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 500;
}

.form-text {
  color: #251741;
  font-size: 45px;
  font-weight: 500;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.mb-3 {
  width: 100%;
}
.form-control {
  font-size: 1.1rem;
  /* height: 50px; */
  border-radius: 15px !important;
  border: 1px solid #bfbdbd;
  margin-bottom: 10px;
}

.checkbox {
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.submit {
  display: flex !important;
  justify-content: center;
  align-self: center;
  gap: 15px;
  font-size: 24px !important;
  width: 100%;
  height: 55px;
  border-radius: 100px !important;
  background: linear-gradient(135deg, #251741, #5023aa);
  margin-bottom: 0px;
}

.submit:hover {
  background-color: #251741;
}

.subject {
  margin-bottom: 20px;
}
@media (max-width: 864px) {
  .form-text {
    font-size: 30px;
  }
  .text {
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  form {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
}

.card-link {
  color: white;
  padding: 10px;
  font-size: 15px;
  background-color: #251741;
  border-radius: 20px;
}
.card-link:hover {
  color: white;
}
.card1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-left: 5px solid #1f8bed;
}

.form-body {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: -3rem;
  text-align: center;
  border-radius: 80px;
  background: linear-gradient(to right, #e2e4f4, #cdd4fd);
  gap: 5rem;
  padding: 6rem;
  display: flex;
  justify-content: center;
}

.form-box {
  background-color: white;
  width: 44rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-box-1 {
  gap: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.form1 {
  flex-direction: column;
  display: flex;
}
.write {
  margin-top: 4px;
  text-align: start;
}
.write1 {
  font-size: 24px;
  font-weight: 400;
}
p.write1 {
  margin-top: 3rem;
}
.inp {
  padding-left: 10px;
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.inp .textarea {
  height: 20rem;
  color: #514567;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 28px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  /* background: rgba(0, 0, 0, 0.02); */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}

.inp .textarea:hover {
  /* background: rgba(0, 0, 0, 0.04); */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp .textarea:not(:placeholder-shown) + .label {
  /* color: rgba(0, 0, 0, 0.5); */
  transform: translate3d(0, -10px, 0) scale(0.75);
}

.inp .textarea:focus {
  /* background: rgba(0, 0, 0, 0.05); */
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}

.inp .textarea:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp .textarea:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

.textarea {
  border: 0;
}

.inp .label {
  color: #747474;
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 18px;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.inp input {
  color: #514567;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  /* background: rgba(0, 0, 0, 0.02); */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}

.inp input:hover {
  /* background: rgba(0, 0, 0, 0.04); */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:placeholder-shown) + .label {
  /* color: rgba(0, 0, 0, 0.5); */
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
  /* background: rgba(0, 0, 0, 0.05); */
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}

.inp input:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

/* Careers */

.recruit {
  text-align: center;
}

.recruit-handle {
  margin-top: 15px;
}
.recruitment {
  z-index: 999;
  padding-top: 5rem;
  background-image: url(./images/Career/gradient-career.webp);
  background-repeat: no-repeat;
  background-position: center 60%;
}
.dropdown {
  width: 25%;
  height: 100vh;
  margin-left: 10rem;
  margin-top: 2rem;
}

.recruit-handle {
  margin-bottom: 80px;
}

.dropdown-career {
  width: 100%;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:hover {
  text-align: left !important;
  border-radius: 10rem !important;
  padding-left: 50px !important;
  background-color: white !important;
  color: #0e1513 !important;
  border: none !important;
  width: 100%;
  position: relative !important;
  z-index: 2;
  /* transition: margin-top 1s !important; */
  letter-spacing: 0px;
}

.btn:first-child:active {
  color: #0e1513;
  border: none;
  background-color: white;
}
.btn.show {
  background-color: white;
  color: black;
}

ul.dropdown-menu.show {
  line-height: 35px !important;
  padding-top: 30px;
  z-index: 1;
  border: none;
  background-color: #ffffff;
  width: 100%;
  /* margin: -24px 0px !important; */
  transition: all 1s;
  opacity: 0.7;
  letter-spacing: 0px;
}

.dropdown-toggle::after {
  content: none;
}
.cloud {
  background-size: cover;
  top: 85rem;
  position: absolute;
}

.jobs {
  height: 45rem;
  gap: 80px;
  margin-left: 8rem;
  display: flex;
  flex-direction: row;
}

.job-des {
  height: 40rem;
  margin-top: 2rem;
  padding: 30px;
  padding-left: 40px;
  width: 39%;
  border-radius: 20px;
  background-color: white;
  color: #14181a;
  height: 100%;
}

.job-form {
  height: 40rem;
  background-color: white;
  margin-top: 2rem;
  width: 39%;
  padding: 30px;
  border-radius: 20px;
}
.job-requirments {
  list-style-type: none;
}

ul.job-requirements {
  letter-spacing: 0px;
  line-height: 35px;
  list-style-type: none;
  padding-left: 0rem !important;
}

.apply::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.apply {
  background-color: white;
  border: none;
  text-align: left;
  display: inline-block !important;
  font-size: 20px;
  position: relative;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 5px; /* Adjust padding as needed */
}

.apply::after {
  float: right;
  content: "";
  width: 30px; /* Adjust the width of the SVG */
  height: 20px; /* Adjust the height of the SVG */
  background: url("./images/Vector.svg") no-repeat;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* Transition opacity and transform over 0.5 seconds */
  transform: translateX(-10px); /* Initially move the arrow to the left */
}

.apply:hover::after {
  opacity: 1; /* Fade in the SVG on hover */
  transform: translateX(0); /* Move the arrow back to its original position */
}

.video-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.cloud {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 1600px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid black;
  width: 95%;
  padding: 10px 0; /* Adjust as needed */
  position: relative;
}

.part {
  width: 25%;
}

.text-container::before,
.text-container::after {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #251741;
}

.text-container::before {
  left: -15px; /* Adjust to position the circle at the start */
}

.text-container::after {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='30' viewBox='0 0 20 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.82735 33.8939L0.34375 31.4103L14.7543 16.9997L0.34375 2.58907L2.82735 0.105469L19.7215 16.9997L2.82735 33.8939Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: -15px;
}

.part:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #251741;
  left: 30%;
}

.part:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -22%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #251741;
  left: 110%;
}

.me {
  height: 25vh;
  object-fit: cover;
  align-self: center;
}

.client-img1 {
  width: 14%;
  gap: 58px;
}
.client-img2 {
  margin-left: 40px;
  gap: 100px;
  width: 47%;
}
.client-img3 {
  margin-top: 40px;
  width: 33%;
  margin-left: 61px;
  gap: 170px;
}
.nested-skills {
  margin-left: 184px;
  list-style-type: disc;
  margin-top: -36px;
  font-size: 15px;
  letter-spacing: 0px;
}

.buttons {
  gap: 100px;
}

.go-back {
  border-radius: 30px;
  padding: 10px;
  width: 20%;
  background: linear-gradient(135deg, #251741, #5023aa) !important;
  font-size: 16px;
  color: white;
  border: none;
}
.submit1 {
  font-size: 16px;
  color: white;
  border: none;
  background: linear-gradient(to right, #1f8bed, #671316);
  border-radius: 30px;
  width: 80%;
}

.job-form-transition {
  transition: all 0.5s ease;
}

/* HOME */

.readmore1 {
  display: flex;
  /* justify-content: flex-end; Align text to the right */
  text-align-last: right;
  width: 25%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  transition: justify-content 0.5s;
  width: 25%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.readmore-1:hover {
  gap: 20px;
  justify-content: flex-start; /* Align text to the left on hover */
}

.readmore-1:after {
  margin-left: auto;
  gap: 20px;
  align-self: center;
  float: right;
  content: "";
  width: 30px; /* Adjust the width of the SVG */
  height: 20px; /* Adjust the height of the SVG */
  background: url("./images/Vector.svg") no-repeat;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* Transition opacity and transform over 0.5 seconds */
  transform: translateX(-10px);
}
.readmore-1:hover::after {
  opacity: 1; /* Fade in the SVG on hover */
  transform: translateX(0); /* Move the arrow back to its original position */
}

.x1 {
  justify-content: center;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.card-content {
  text-align: center;
}

.mainpage {
  letter-spacing: 0px;
}

.whyus {
  justify-content: center;
  /* margin-left: 5rem; */
  padding: 5rem;
  font-size: 30px;
  height: 100%;
}

.whybest {
  color: #251741;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./images/Home/wbg.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  padding-left: 10rem;
  font-size: 30px;
  height: 800px;
}
.trustedtext {
  /* letter-spacing: 20px; */
  line-height: 50px;
  font-size: 20px;
  width: 50%;
  letter-spacing: 5%;
  margin-right: 20rem;
}

.trustedtext h1 {
  font-weight: 400;
}

.trusted {
  margin-bottom: 30rem;
}
.shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 300px);
  left: calc(var(--x, 0) * 1px - 300px);
  width: 600px;
  height: 600px;
  background: radial-gradient(white, #00000000 70%);
  opacity: 0;
  transition: opacity 0.2s;
}

.shiny:hover::after {
  opacity: 0.2;
}

.readmore {
  /* gap: 20px; */
  display: flex;
  text-align-last: right;
  width: 25%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  transition: justify-content 0.5s; /* Transition justify-content over 0.5 seconds */
}

.join:hover {
  gap: 20px;
  justify-content: flex-start; /* Align text to the left on hover */
}

.join:after {
  margin-left: auto;
  gap: 20px;
  /* filter: invert(1); */
  align-self: center;
  float: right;
  content: "";
  width: 30px; /* Adjust the width of the SVG */
  height: 20px; /* Adjust the height of the SVG */
  background: url("./images/Vector.svg") no-repeat;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* Transition opacity and transform over 0.5 seconds */
  transform: translateX(-10px);
}
.join:hover::after {
  opacity: 1; /* Fade in the SVG on hover */
  transform: translateX(0); /* Move the arrow back to its original position */
}

@keyframes popOut {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 3;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  /* transform: translate(-50%, -50%); */
  font-size: 12px;
  display: block;
}

/* Show the details when the logo container is hovered */

.whyus-text {
  justify-content: space-around;
  margin: 3rem;
  /* gap: 40px; */
}

.whyus {
  display: flex;
  flex-direction: column;
}

.whyus-text {
  display: flex;
  flex-direction: row;
}

.whyus-text p {
  text-align: center;
  width: 31%;
  padding-bottom: 10px;
  margin: 0 20px;
  font-size: 34px;
}

@media (min-width: 864px) and (max-width: 1024px) {
  .logo-brand {
    top: 38px;
    left: 90px;
  }
  .logo-brand img {
    width: 310px;
    height: 36px;
  }
  .job-form {
    width: 100%;
    margin: 2rem;
  }
}

@media (min-width: 864px) and (max-width: 1240px) {
  .text {
    bottom: 18rem;
    font-size: 28px;
  }
}

.slick-slide div {
  text-align: center;
  outline: none;
}

.mail1 {
  color: white !important;
}

@media (max-width: 480px) {
  .nested-skills {
    margin-left: 0;
    margin-top: 0;
  }
}
