/* General Styles */
.navbar {
  padding: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.navbar.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar.hidden:hover {
    transform: translateY(0);
  }
.logo-font {
  font-size: 10px;
  text-align: right;
}

.nav-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

svg.btn.search {
  height: 30px;
  width: 50px;
}

.contact-image-container {
  position: relative;
  max-width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 22%;
  left: 34%;
  translate: (50%, 50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

/* Form Styles */
.form-body {
  text-align: center;
  width: 100%;
  background-color: #f8f9ff;
}

.form-text {
  color: #251741;
  font-size: 45px;
  font-weight: 500;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
form {
  gap: 35px;
  display: flex;
  justify-content: center;
}
.mb-3 {
  width: 100%;
}
.form-control {
  font-size: 1.1rem;
  height: 50px;
  border-radius: 15px !important;
  border: 1px solid #bfbdbd;
  margin-bottom: 10px;
}

.checkbox {
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.submit {
    font-size: 20px;
  width: 180px;
  height: 45px;
  border-radius: 100px;
  background: #251741;
  margin-bottom: 30px;
  margin-top: 20px;
}
.submit:hover {
  border-radius: 100px;
  background: #251741;
}
.subject {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .form-text {
    font-size: 30px;
  }

  .text {
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  form {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}
.location{
    text-align: center;
}
.location-name{
    padding: 40px;
}
.offices{
    gap: 55px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card-title{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: grey;
}
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}